<!doctype html>
<html ng-app="namesList">

<head>
  <meta charset="utf-8">
  <title>AngularJS Venn Diagram</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


		
</head>

<body>
  <div ng-controller="TestCtrl">
  
  
	  <textarea name="B" cols="100" rows="20" ng-model="title6" placeholder="Enter transcript to be reformatted"></textarea>	
      <br>
	  <div class="container-fluid">
	  Reformatted Transcript:
	  <br>
      "{{title6|showWord|makeString|split|makeString|showWord|makeString}}" (XXXXX Tr.) at xx:xx -xx:xx. 
	  <br>
	  {{title6 | split |makeString |showNum }}
	   </div>
     		
      <br>


    <textarea name="A" cols="100" rows="20" ng-model="title" placeholder="Enter words for Box A"></textarea>
    <textarea name="B" cols="100" rows="20" ng-model="title2" placeholder="Enter words for Box B"></textarea> 
	<div class="container-fluid">
    
	  <pre>
      Results:      
		
		

      Words in Both:
                          
      {{matches | findMatches: title :title2|unique}}     
	  
                       
      Words in First Box:
                          
      {{title|split|unique}}
                          
      Words in Second Box:
                          
      {{title2|split|unique}}
      
	  </pre>	  
     
      </div>
	  
      <textarea name="B" cols="100" rows="20" ng-model="title3" placeholder="Enter words to be made uppercase"></textarea>	
      <ul>
      {{title3 | uppercase}}
      </ul>		
      		
      <textarea name="B" cols="100" rows="20" ng-model="title4" placeholder="Enter words to be made lowercase"></textarea>	
      <ul>
      {{title4 | lowercase}}
      </ul>			
      <br>
	  
	  <textarea name="B" cols="100" rows="20" ng-model="title5" placeholder="Enter words to be put in alphabetical order"></textarea>	
	  <br>
	  Alphabetical order:
	  <br>
	  {{title5 | split | orderBy:'toString()' }} 
	  <br>
	 
    	  <!-- need to pull numbers out of this array -->
	  
	  <!-- sort test -->
	
		
	  <textarea name="B" cols="100" rows="20" ng-model="title7" placeholder="Enter words to find by beginning letters"></textarea>	
	  <br>
	  Begins with:
	  <br>
	  {{title7|showNum}} 
	  <br>
      
      
  </div>

  <!-- Vendor libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>


  <script>
    'use strict';
    angular.module('namesList', [])
      .filter('split', function() {
        return function(input) {
          return input.replace(/\n/g, ' ').split(" ");
        };
      })

    .filter('test', function() {	  
		 //   this filter checks if a string is a number but need to iterate over the whole array and get the first and last numbers
			return function isNumeric(num){
		    //nonNumbers = [];
			//return nonNumbers;
			return !isNaN(num);
        };
      })
	  
//	 .filter('showNum', function() {	  
//   this filter is not complete but it will return only numbers from an array
//		return function isNumeric(title){
//		var numbers, i, len, numberToAdd;
//		numbers = [];
//		title=title.split(" ")
//		len = title.length;
		
//		for(i=0; i<len; i+=1){
//			numberToAdd = title[i];
//			if(!isNAN(numberToAdd)===False); 	{numbers.push(numberToAdd);} 
//		return numbers;
//          };
		
//      })

.filter('showNum', function() {
  return function(input) {

    if (!input)
    {
      return [];
    }

    return input
      .split(' ')
      .filter(function(item){
        return item && !isNaN(item);
      })
      .map(function(item){
        return parseInt(item);
      })
    
  };
})


.filter('showWord', function() {
  return function(input) {

    if (!input)
    {
      return [];
    }

    return input
      .split(' ')
      .filter(function(item){
        return item && isNaN(item);
      })
      .map(function(item){
        return(item);
      })
    
  };
})

	  
	.filter('makeString', function() {	  
//   this filter turns an array into a string
	return function intoString(titlex){
			return titlex.join(" ");
        };
      })
/**
 * Description:
 *     removes white space from text. useful for html values that cannot have spaces
 * Usage:
 *   {{some_text | nospace}}
 */
	//	.filter('nospace', function () {
    //return function (value) {
     //   return (!value) ? '' : value.replace(/ /g, '');
   // };
//});	 
    .filter('findMatches', function() {
      return function isMatch(matches, title, title2) {
        var len1, len2, i, j, match;
        title=title.split(" ")
        title2=title2.split(" ")
          // Arrays only
        if (!Array.isArray(title) || !Array.isArray(title2)) { return ["emp"]; }
         // Since the container will always be filled with matches
        matches = [];
        
          // Cache .length before loops.
        len1 = title.length;
        len2 = title2.length;
        
          // Search
      for(i = 0; i < len1; i+=1) {
      match = title[i];
      for(j = 0; j < len2; j+=1) {
      // Add match to list, no soft checking.
      if(match === title2[j]) { matches.push(match); }
      }
    }
     

        
      return matches;
      }
    })
    
	// add the grep filter begins with by altering this: http://stackoverflow.com/questions/23242721/filter-the-list-with-letter-in-angular-js
    .filter('unique', function () {

  return function (items, filterOn) {

    if (filterOn === false) {
      return items;
    }

    if ((filterOn || angular.isUndefined(filterOn)) && angular.isArray(items)) {
      var hashCheck = {}, newItems = [];

      var extractValueToCompare = function (item) {
        if (angular.isObject(item) && angular.isString(filterOn)) {
          return item[filterOn];
        } else {
          return item;
        }
      };

      angular.forEach(items, function (item) {
        var valueToCheck, isDuplicate = false;

        for (var i = 0; i < newItems.length; i++) {
          if (angular.equals(extractValueToCompare(newItems[i]), extractValueToCompare(item))) {
            isDuplicate = true;
            break;
          }
        }
        if (!isDuplicate) {
          newItems.push(item);
        }

      });
      items = newItems;
    }
    return items;
  };
});


  </script>
  


  



  <script>
    'use strict';
    (function() {
      function TestCtrl($scope) {
        $scope.title = "";
        $scope.title2 = "";
        $scope.title3 = "";
        $scope.title4 = "";
        $scope.title5 = "";
        $scope.title6 = "";
		$scope.title7 = "";
        $scope.matches = "test";
		$scope.numbers = "test";
		  $scope.startsWith = function (actual, expected) {
    var lowerStr = (actual + "").toLowerCase();
    return lowerStr.indexOf(expected.toLowerCase()) === 0;
  }
      }
      angular.module('namesList')
        .controller('TestCtrl', TestCtrl);

    })()
  </script>
  
    <script>
//  		$scope.$watch('model.title6', function(){
//  $scope.model.title6 = $scope.model.title6.replace(/\n/g, '');
//})
</script>

  ¶


</body>

</html>